html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.ico { display: inline-block; vertical-align: middle; }

.i-enter { background: url('../img/icons-s56405c093b.png') 0 -156px no-repeat; width: 19px; height: 19px; }

.i-part { background: url('../img/icons-s56405c093b.png') 0 -63px no-repeat; width: 22px; height: 22px; }

.i-phone { background: url('../img/icons-s56405c093b.png') 0 -95px no-repeat; width: 21px; height: 23px; }

.i-set { background: url('../img/icons-s56405c093b.png') 0 -30px no-repeat; width: 22px; height: 23px; }

.i-user { background: url('../img/icons-s56405c093b.png') 0 -128px no-repeat; width: 18px; height: 18px; }

.i-list { background: url('../img/icons-s56405c093b.png') 0 0 no-repeat; width: 21px; height: 20px; }

a { text-decoration: none; }

body, a { font-family: "Myriad Pro", Helvetica, Arial, sans-serif; color: #868e96; }

.wrap { width: 100%; min-width: 320px; min-height: 100%; background-color: #5f92c1; background-image: url('../img/bg.jpg?1410293190'); padding-top: 75px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.container { margin: 0 auto; max-width: 1010px; background-color: white; -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2); }

/*-----header----------------------------------------------------- */
.header { padding: 30px 40px 15px; border-bottom: 1px solid #d4d8d8; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header:after { content: " "; display: table; clear: both; }
.header .logo { margin-top: 5px; }

/*-----topper----------------------------------------------------- */
.topper { height: 50px; background-color: #ecf0f1; }

/*-----list----------------------------------------------------- */
.list .list__item { position: relative; text-align: center; height: 55px; line-height: 55px; border-bottom: 1px solid #d1d5d5; *zoom: 1; }
.list .list__item:after { content: " "; display: table; clear: both; }
.list .list__item:nth-child(2n+1) { background-color: #fbfbfc; }
.list .list__item:after { background-color: #2dc970; }
.list .list__item-develop:after, .list .list__item-passive:after, .list .list__item-active:after { position: absolute; content: ""; height: 100%; width: 9px; right: 0; top: 0; }
.list .list__item-active:after { background-color: #2dc970; }
.list .list__item-develop:after { background-color: #8e44ad; }
.list .list__item-passive:after { background-color: red; }
.list .list__site { text-transform: uppercase; color: #a7acb2; font-size: 15px; display: block; width: 200px; margin: 0 auto; }
.list .list__info { float: right; display: none; }
.list .list__info-status { float: right; width: 90px; text-align: left; color: white; font-weight: bold; font-size: 12px; }
.list .list__info-icon { float: right; margin-right: 24px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.list .list__info-icon:hover { -webkit-transform: translateY(-3px); -moz-transform: translateY(-3px); -ms-transform: translateY(-3px); -o-transform: translateY(-3px); transform: translateY(-3px); }
.list .list-active .list__site { color: white; font-weight: bold; }
.list .list-active .list__info { display: block; }
.list .list-active-act { background-color: #2dc970 !important; border-color: #2dc970; }
.list .list-active-pas { background-color: red !important; border-color: red; }
.list .list-active-dev { background-color: #8e44ad !important; border-color: #8e44ad; }

/*-----footer----------------------------------------------------- */
.footer { background-color: #ecf0f1; text-align: center; padding: 25px 0 40px; }

/*---------------------------------------------------------- */
/*---------------------------------------------------------- */
/*---------------------------------------------------------- */
/*-----logo----------------------------------------------------- */
.logo { float: left; font-size: 22px; line-height: 22px; color: #2c3e50; text-transform: uppercase; }

/*-----user----------------------------------------------------- */
.user { float: right; }
.user .i-user { float: right; margin-right: 10px; margin-top: 10px; }
.user .user__mail { float: right; color: #a9adb3; margin-right: 10px; font-size: 13px; margin-top: 10px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.user .user__mail:hover { color: #5b6068; }
.user .user__enter { float: right; border: 2px solid #cdd1d7; height: 40px; width: 40px; line-height: 40px; text-align: center; position: relative; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.user .user__enter:hover { background-color: #2ecc71; }
.user .user__enter:hover .user__popup { display: block; }
.user .user__enter:active { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9); }
.user .user__enter .ico { vertical-align: -3px; }
.user .user__popup { position: absolute; top: -24px; left: 50%; background-color: #2c3e50; color: white; font-size: 12px; line-height: 12px; width: 60px; margin-left: -30px; text-align: center; padding: 5px 0; display: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.user .user__popup:after { position: absolute; left: 50%; margin-left: -4px; bottom: -4px; content: ""; width: 0; height: 0; border-style: solid; border-width: 4px 4px 0 4px; border-color: #2c3e50 transparent transparent transparent; }

/*-----pager----------------------------------------------------- */
.pager { display: inline-block; *zoom: 1; }
.pager:after { content: " "; display: table; clear: both; }
.pager li { float: left; padding: 0 3px; }
.pager a { font-size: 18px; line-height: 26px; }
.pager .pager-nav { padding: 0 6px; }
.pager .pager-nav a { font-size: 30px; line-height: 18px; }
.pager .pager-number a { height: 23px; width: 23px; line-height: 23px; display: inline-block; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; text-align: center; padding: 0; }
.pager .is-active a { background-color: #2ecc71; color: white; }

/*---------------------------------------------------------- */
/*---------------------------------------------------------- */
/*---------------------------------------------------------- */
.lteie8 .wrap { background: #5f92c1; }
