a
	text-decoration: none	
body,a
	font-family: $Myriad 
	color: #868E96 		
.wrap
	width: 100%
	min-width: 320px
	min-height: 100%
	background-color: #5f92c1
	background-image: image-url('bg.jpg')
	padding-top: 75px
	+cover 
.container
	margin: 0 auto
	max-width: 1010px
	background-color: #fff 
	+box-shadow(0 4px 5px rgba(0,0,0,.25), 0 0 10px rgba(0,0,0,.2))


	
		
	