.input
	padding: 6px 30px
	border: 1px solid #c2c2c2
	font-family: $Myriad 
	font-size: 13px
	color: #606060
	text-align: center
	+placeholder
		font-family: $Myriad 
		font-size: 13px
		color: #606060
	&:focus
		+placeholder
			color: transparent

.checkbox
	position: relative
	display: inline-block
	vertical-align: middle
	cursor: pointer
	&.checkbox_mod
		display: block
		font-size: 14px
		color: rgba(#2c3e50, .71)
		+r(w960)
			margin-bottom: 3px
		span
			color: rgba(#2c3e50, .71)
			padding: 0
			+r(w960)
				font-size: 11px
	&.checkbox_mod2
		input + span
			.checkbox__ico
				+s(i-checkbox2)
		input:checked + span
			.checkbox__ico
				+sp(i-checkbox_a2)

	span
		color: #fff
		display: inline-block
		+nosel
	input
		+opacity(0)
		position: absolute
		top: 0
		left: 0
	input + span
		.checkbox__ico
			+s(i-checkbox)
			margin-right: 10px
			display: inline-block
			vertical-align: middle
			cursor: pointer
	input:checked + span
		.checkbox__ico
			+sp(i-checkbox_a)

.select
	height: 19px
	line-height: 15px
	background: #f6f8f9
	font-size: 14px
	color: #2c3e50
	font-weight: bold
	font-family: $Myriad 
	cursor: pointer
	position: relative
	+box
	+r(w960)
		font-size: 12px
		line-height: 21px
	span
		padding: 3px 15px 5px
		display: block
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		+r(w960)
			padding: 0 5px
	em
		font-style: normal
	i
		content: ""
		position: absolute
		top: 8px
		right: 10px
		+s(sell-arr)
	&.is-open
		.select__drop
			display: block
		i
			+transform(rotate(180deg))
	.select__drop
		display: none
		position: absolute
		top: 100%
		left: 0px
		width: 100%
		z-index: 666
		background: #f6f8f9
	ul
		margin: 0
	li
		padding: 3px 15px 5px
		+r(w960)
			padding: 0 5px
		&:hover
			cursor: pointer
		span
			padding: 0

